body {
  display: flex;
  /*justify-content: space-around;*/
  align-items: center;
  flex-direction: column;
  background-color: #f5f5f5;
  color: red;
  font-family: 'VT323', monospace;
}

.hidden {
  display: none;
}

.opaque {
  opacity: 0.3;
}

.title {
  font-size: 46px;
  margin-bottom: 0;
}

.sub-title {
  margin-top: 5px;
}

canvas {
  align-self: center;
  background-color: #444444;
}

.side {
  display: flex;
  position: absolute;
  right: 13%;
  top: 27%;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 30px;
  align-self: flex-end;
}

.controls-title {
  font-size: 20px;
}

.instructions {
  font-size: 20px;
}

.personal-links {
  margin-top: 10px;
  color: black;
}
.entry-screen {
  height: 100px;
  width: 100px;
  left: 30px;
  position: absolute;
  border: 1px solid black;
}
